<div class='container-fluid'>
  <form name="newTodo" class='well'>
    <div class='row-fluid'>
      <span class='span10'>
        <input type="text" name="todo[task]" ng-model="todo.task" class="text_field span12"       required />
      </span>
      <span>
        <button class="btn btn-success" ng-click="save()"
          ng-disabled="isClean() || newTodo.$invalid">
          <i class="icon-plus"></i> Add </button>
      </span>
    </div>
  </form>
</div>
<div class='container-fluid'>
  <table class="table table-striped" width="100%">
    <tbody>
      <tr ng-repeat="todo in todos">
        <td width='1%'><input type="checkbox" ng-model="todo.completed"></td>
        <td>{{todo.task}}</td>
      </tr>
    </tbody>
  </table>
</div>
